<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.0.3.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<title>OMG Its a Bug</title>
</head>


<body>
<div class="btn-group">
  <button type="button" class="btn btn-default">C</button>
  <button type="button" class="btn btn-default">C++</button>
  <button type="button" class="btn btn-default">C#</button>
  <button type="button" class="btn btn-default">Java</button>
  <button type="button" class="btn btn-default">Python</button>
  <button type="button" class="btn btn-default">HTML5</button>
  <button type="button" class="btn btn-default">JavaScript</button>
</div>


</body>
</html>
