<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.0.3.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<title>Catch That bUg</title>
</head>

<body>
	<h1>Catch That bUg</h1>

<h4>	LOGIN or <a href="/signUp"><em><u>SIGNUP</u></em></a>	</h4>

<div class="input-group">
  <span class="input-group-addon">UserName</span>
  <input type="text" class="form-control" placeholder="Username"><br>
  <span class="input-group-addon">PassWord</span>
  <input type="text" class="form-control" placeholder="PassWord">
</div>


<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-default">LOGIN</button>
</div>

<a href="/passwordForgotten"><em>password forgotten?</em></a>


</body>
</html>
