<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.0.3.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<title>OMG It's a Bug</title>

</head>


<body>
<div class="input-group">
  <span class="input-group-addon">UserName</span>
  <input type="text" class="form-control" placeholder="Username"><br>
  <span class="input-group-addon">PassWord</span>
  <input type="text" class="form-control" placeholder="PassWord">
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>


</body>
</html>
