<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.0.3.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<title>Catch That bUg</title>
</head>


<body>
	<h1>PASSWORD FORGOTTEN PAGE</h1>
<div class="input-group">
  <span  class="input-group-addon">Recover Lost Account:</span>
  <input id='lostAccount' type="text" class="form-control" placeholder="Enter Email to Recover"><br>
  </div>
  <div class="btn-group btn-group-lg">
  <button id='account_recover_button' type="button" class="btn btn-default">send email</button>
</div>
</body>
</html>
