<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="/javascripts/myAction.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/jquery-2.0.3.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<title>Catch That bUg</title>
</head>


<body>
<h1>SIGNUP PAGE</h1>
<br>
<div class="input-group">
  <span class="input-group-addon">User Name:</span>
  <input id='userName' type="text" class="form-control" placeholder="Username"><br>
  <span class="input-group-addon">Password:</span>
  <input id='passWord' type="text" class="form-control" placeholder="Password"><br>
  <span class="input-group-addon">Confirm Password:</span>
  <input id='confirmPassword' type="text" class="form-control" placeholder="Type Again"><br>
  <span class="input-group-addon">Email Address:</span>
  <input id='emailAddress' type="text" class="form-control" placeholder="Enter Email Address"><br>
  <span class="input-group-addon">Phone Number:</span>
  <input id='phoneNumber' type="text" class="form-control" placeholder="Phone Number"><br>
</div>
<div id="signUpComment">comments</div>
<br>
<div class="btn-group btn-group-lg">
  <button id='signup_button' type="button" class="btn btn-default">Signup</button>
</div>


</body>
</html>
