*{
	width: 90%;
	margin: auto;
}
.input-group-addon{
	margin-left: 50px;
}
#signup_button{
	width: 100px;
}
#userName{
	margin-left: 100px;
}
#passWord{
	margin-left: 110px;
}
#confirmPassword{
	margin-left: 55px;
}
#emailAddress{
	margin-left: 80px;
}
#phoneNumber{
	margin-left: 75px;
}
h1{
	margin-left: 150px;
}
#signup_button{
	margin-left: 235px;
}
#signUpComment{
	margin-left: 105px;
}